{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="blog_area p_120">
  <div class="container">
    <div class="row">
      <div class="container-fluid">
        <div class="blog_left_sidebar">

          <h2 style="color:gold">Change Password <img src="{% static 'img/whiskeyChristmasLogo_black.gif' %}" alt="whiskey christmas GIF icon" style="width:auto;height:36px;"></h2><hr>
          <div>
            <a href="{% url 'index' %}"><i class="fa fa-home fa-2x"></i></a>
          </div>
          <br>
          <form method="post">
            {% csrf_token %}

            {% if form.errors %}
            <div id="errors">
              <div class="inner">
                <p style="color:red">Please correct the errors below</p>
                <ul>
                  {% for field in form %}
                  {% if field.errors %}
                  <li>{{ form.label }} {{ field.errors|striptags }}</li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
            <br>
            {% endif %}

            <div class="mt-10">
							<input type="password" name="old_password" placeholder="Old Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Old Password'" required="" class="form-control">
						</div><br>
            <div class="mt-10">
							<input type="password" name="new_password1" placeholder="New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'" required="" class="form-control">
						</div><br>

            <h5>Password rules:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-info-circle"></i>  Can't be too similar to your other personal information.</li>
              <li class="list-group-item"><i class="fa fa-info-circle"></i>  Must contain at least 8 characters.</li>
              <li class="list-group-item"><i class="fa fa-info-circle"></i>  Can’t be a commonly used password.</li>
              <li class="list-group-item"><i class="fa fa-info-circle"></i>  Can’t be entirely numeric.</li>
              <br>
            </ul>

            <div class="mt-10">
							<input type="password" name="new_password2" placeholder="re-type password" onfocus="this.placeholder = ''" onblur="this.placeholder = 're-type password'" required="" class="form-control">
						</div>
            <br>
            <button name="submit" class="btn btn-warning"><i class="fa fa-paper-plane fa-lg"></i> Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
